<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- setter method in XML
    <bean id="restaruantBean" class="com.springlifecycle.demo.Restaruant">
        <property name="welcomeNote" value="Welcome to the Setter property"></property>
    </bean>
    -->
   <!-- this is a method to implment constrcutor and Setter method
    <bean id="restaruantBean" class="com.springlifecycle.demo.Restaruant">
        <constructor-arg ref ="teaBean"/>
        <property name="hotDrink" ref="teaBean"/>
    </bean>
        -->
    <bean id="restaruantBean" class="DICollection.Resturant">
        <property name="resturanctWaitersList">
            <list>
                <value>Abc</value>
                <value>bcd</value>
                <value>Def</value>
                <value>Efg</value>
            </list>
        </property>
    </bean>

    <bean id ="teaBean" class="com.springlifecycle.demo.Tea"></bean>

   <!-- <bean id="beanScopeBean" class="BeanScope.Restaruant" scope = "prototype">-->
    <bean id="beanScopeBean" class="BeanScope.Restaruant" scope = "singleton">

    </bean>
</beans>